# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual environments
venv/
.env

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Images générées (optionnel, si tu veux uniquement garder le code)
# *.png
# *.jpg
